<footer class="bg-dark text-white p-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 p-2 text-center">
                <h3>Egészségügyi Rendelő</h3>
            </div>
            <div class="col-lg-4 p-2">
                <nav class="nav flex-column text-center">
                    <a class="nav-link text-white" href="#">Impresszum</a>
                    <a class="nav-link text-white" href="#">Kapcsolat</a>
                    <a class="nav-link text-white" href="#">Fontos tudni</a>
                  </nav>
            </div>
            <div class="col-lg-4 p-2">
                <nav class="nav flex-column text-center">
                    <a class="nav-link text-white" href="#">Rólunk</a>
                    <a class="nav-link text-white" href="#">Működésünkről</a>
                    <a class="nav-link text-white" href="#">Megközelítés</a>                  </nav>
            </div>
        </div>
        <hr class="bg-white">
        <p class="text-white text-center m-0 pb-2">2022 Copyright &copy; Egészségügyi rendelő</p>
    </div>
</footer>