<footer class="bg-dark text-white p-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 p-2 text-center">
                <h3>Logo</h3>
            </div>
            <div class="col-lg-4 p-2">
                <nav class="nav flex-column text-center">
                    <a class="nav-link text-white" href="#">Active</a>
                    <a class="nav-link text-white" href="#">Link</a>
                    <a class="nav-link text-white" href="#">Link</a>
                    <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </nav>
            </div>
            <div class="col-lg-4 p-2">
                <nav class="nav flex-column text-center">
                    <a class="nav-link text-white" href="#">Active</a>
                    <a class="nav-link text-white" href="#">Link</a>
                    <a class="nav-link text-white" href="#">Link</a>
                    <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </nav>
            </div>
        </div>
        <hr class="bg-white">
        <p class="text-white text-center m-0 pb-2">2022 Copyright &copy; Egészségügyi rendelő</p>
    </div>
</footer>