<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mb-sm-4 col-lg-3">
            <h2 class="display-4">Rendelés</h2>
            <ul class="list-group">
                <li class="list-group-item">Hétfő: 8:00 - 13:00</li>
                <li class="list-group-item">Kedd: 8:00 - 13:00</li>
                <li class="list-group-item">Szerda: 8:00 - 13:00</li>
                <li class="list-group-item">Csütörtök: 8:00 - 13:00</li>
                <li class="list-group-item">Péntek: 8:00 - 13:00</li>
              </ul>
        </div>
        <div class="col-sm-12 order-lg-4 mb-sm-4 col-lg-3">
            <h2 class="display-4">Adatok</h2>
            <ul class="list-group">
                <li class="list-group-item">Cím: 2043 Budapest Kis utca 15/b</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
        </div>
        <div class="col-sm-12 order-lg-3 col-lg-6">
            <h2 class="display-4">Hírek</h2>
                <div class="card mb-sm-4">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
                <div class="card mb-sm-4">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card mb-sm-4">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card mb-sm-4">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
    </div>
</div>