.loginWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    border: 3px solid #007BFF;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
#loginHeading {
    padding-bottom: 20px;
    text-transform: uppercase;
}